.delete_widget{
    position: absolute;
    top: 20px;
    right: 20px;
}
.outer {
    position: relative;
    margin: auto;
    width: 20px;
    cursor: pointer;
  }
  
  .inner {
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    label { 
        font-size: 12px; 
        text-transform: uppercase;
        color: #fff;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
    }
  }
  
  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 2px;
    width: inherit;
    background: #FFC107;
    left: 0;
    transition: all .3s ease-in;
  }
  
  .inner:before {
    top: 50%; 
    transform: rotate(45deg);  
  }
  
  .inner:after {  
    bottom: 36%;
    transform: rotate(-45deg);  
  }
  
  .outer:hover label {
    opacity: 1;
  }
  
  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }
  
  .outer:hover .inner:before {
    top: 0;
  }
  
  .outer:hover .inner:after {
    bottom: 0;
  }